html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#analogClockCanvas {
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 56%;
    height: 100%;
}

#digitalClockCanvas {
    background-color: green;
    display: block;
    position: absolute;
    top: 0;
    left: 56%;
    right: 0;
    bottom: 0;
    width: 44%;
    height: 40%;
}

#calendarDiv {
    background-color: blue;
    display: block;
    position: absolute;
    top: 40%;
    left: 56%;
    right: 0;
    bottom: 0;
    width: 44%;
    height: 60%;
}
